name: Build EON with GPRD
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
jobs:
  build_eon:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup SSH for private submodule
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SUBMODULE_PRIVATE }}
      - name: Pull GPRD submodule
        run: |
          git clone git@github.com:TheochemUI/gpr_optim.git subprojects/gpr_optim
          cd subprojects/gpr_optim
          git checkout e25fd6736f6a521ca114f991ca488d57273025e4
      - uses: prefix-dev/setup-pixi@v0.8.10
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          activate-environment: true
          environments: >-
            dev
      - name: Install eon
        shell: pixi run bash -e {0}
        run: |
          meson setup --reconfigure bbdir  \
          --prefix=$CONDA_PREFIX           \
          --buildtype release              \
          --libdir=lib
          meson install -C bbdir
      - name: Integration Tests
        shell: pixi run bash -e {0}
        run: |
          cd client/gtests/data/saddle_search/
          eonclient
