name: lints
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on: [push, pull_request]
jobs:
  lints:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - name: Run precommit
      run: |
        uvx pre-commit run -a -vvv
    - name: Audit for large files
      uses: HaoZeke/large-file-auditor@v0.1.0
      with:
        file-size-threshold: "3M"
